@font-face {
    font-family: 'BebasNeueBold';
    src: url('css/type/BebasNeueBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('css/type/BebasNeueRegular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('css/type/OpenSansLight.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 15em;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'BebasNeueRegular', sans-serif; 
    font-size: 8em;
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 5em;
    text-align: center;
    margin: 0;
    padding: 0;
}
h4 {
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0;
}


p {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 2em;
    text-align: left;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

#nav {
    width: 100vw;
    background-color: #2A2A2A;
    padding: 20px 10px 15px 10px;
}

ul li {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 2em;
}

#nav ul {
    list-style: none; 
}

#nav li {
    font-family: 'BebasNeueRegular', sans-serif;   
    font-size: 2em;
    display: inline-block;
    padding-right: 50px;
}

#nav #logo {
    float: left;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 2.5em;
    padding-right: 20vw;
}

#nav a {
    text-decoration: none;
    color: #fff;
    display: block; 
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 60%;
}

#header {
    position: absolute;
    bottom: 0;
}

.slide {
    height: 100vh;   
}

#Landing-Page {
    background-color: #F4C2C2;
}

#Landing-Page .content {
    padding: 200px 0 260px 0;
    color: white;
}

#Why-Use-Ultiva {
    background-image: url("../img/background_1.jpg");
    background-size: cover; 
}

#Why-Use-Ultiva .content {
    color: white;
    text-align: left;
    padding-top: 18%;
}

#Why-Use-Ultiva .content h3 {
    text-align: left;
    background-color: rgba(128, 128, 128, 0.6);
    padding: 120px 80px 120px 80px;
}

#Rapid-On, #Rapid-Off {
    background-color: #2A2A2A;
}

#Rapid-On .content, #Rapid-Off .content, #Rapid-Response .content{
    color: white;
    padding-top: 20%;
}   

#Rapid-Response {
    background-image: url("../img/background_2.jpg");   
    background-size: cover;
}

#Rapid-Response .content h4{
    background-color: rgba(128, 128, 128, 0.6);
    padding-left: 80px;
    padding-right: 80px;
}

#Rapid-Response .content h3 {
    background-color: rgba(128, 128, 128, 0.6);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
}
#Rapid-Response .content p {
    background-color: rgba(128, 128, 128, 0.6);
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}

#Rapid-Recovery {
    background-image: url("../img/background_3.jpg");
    background-size: cover;
    
}

#Rapid-Recovery .content {
    color: white;
    padding-top: 18%;
}

#Rapid-Recovery .content h3 {
    background-color: rgba(128, 128, 128, 0.6); 
    padding-top: 30px;
}

#Rapid-Recovery .content p {
    background-color: rgba(128, 128, 128, 0.6); 
    padding-left: 70px;
    padding-right: 20px;
}

#Rapid-Recovery .content ul {
    background-color: rgba(128, 128, 128, 0.6); 
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 100px;
}

#No-Accumulation {
    background-color: #96DED1;
}

#No-Accumulation .content {
    color: white;
    padding-top: 18%;
}

#No-Accumulation .content ul {
    padding-left: 30px;   
}

#Synergistic-Effect {
    background-image: url('../img/background_4.jpg');
    background-size: cover;
}

#Synergistic-Effect .content {
    color: white;
    padding-top: 15%;
}


#Synergistic-Effect h3, #Synergistic-Effect p, #Synergistic-Effect ul {
    background-color: rgba(128, 128, 128, 0.6); 
    padding-left: 70px;
    padding-right: 50px;
}

#Synergistic-Effect h3 {
    padding-top: 30px;  
}

#Synergistic-Effect ul {
    padding-bottom: 35px;
    padding-left: 95px;
}

#Hemodynamics {
    background-image: url('../img/background_5.jpg');
    background-size: cover;
    
}

#Hemodynamics .content {
    color: white;
    padding-top: 20%;
}

#Hemodynamics h3 {
    background-color: rgba(128, 128, 128, 0.6);
    padding: 30px 0 0 0;
}

#Hemodynamics p {
    background-color: rgba(128, 128, 128, 0.6);
    padding: 0 50px 30px 50px;
}

#Applicable-Surgeries {
    background-color: #2A2A2A;   
}

#Applicable-Surgeries .wrapper {
    padding-top: 7%;
    color: white;
}

#Applicable-Surgeries .list_wrapper {
    margin: 0 auto;
    width: 80%;
    
}

#Applicable-Surgeries ul {
    display: inline-block;
}

#Applicable-Surgeries ul img {
    height: 4em;   
}

#Applicable-Surgeries li{
    padding-top: 100px;
    font-size: 3em;
    list-style: none;
    display: block;
}

#Applicable-Surgeries a {
    color: white;
    text-decoration: none;
    font-family: "BebasNeueRegular", sans-serif;
}


/* Surgery page stylings */


#Neuro, #Orthopedic, #Cardiothoracic, #Abdominal, #Headneck, #Highrisk {
    background-color: #2A2A2A;  
    
}

.surgeryWrapper {
    padding-left: 350px;
    padding-top: 50px;
    
}

.surgeryWrapper img {
   padding-top: 150px;
   height: 400px;
   margin: auto;
}

.surgeryWrapper h2 {
    text-align: left;
    padding-top: 50px;
    max-width: 400px;
}

#Neuro h2 {
    color: #f7941e;
    padding-left: 10px;
}

#Orthopedic h2 {
    font-size: 6.5em;
    padding-left: 10px;
    color: #39b54a;
}

#Cardiothoracic h2 {
    color: #2e3192;
    font-size: 5em;
    
}

#Abdominal h2 {
    color: #662d91;
    font-size: 7.5em;
}

#Headneck h2 {
    color: #dfe260;
    font-size: 6.3em;
}

#Highrisk h2 {
    color: #ed1c24;
    font-size: 4em;
    padding-left: 7px;
}

/* End Surgery page stylings */





#End-Page {
    height: 100vh;
    background: linear-gradient(180deg, #F4C2C2 50%, #2A2A2A 50%);
}

#Sign-Up {
    position: static;
    padding-top: 15%;
}

#Sign-Up h3 {
    text-align: left;   
}




