@font-face {
    font-family: 'BebasNeueBold';
    src: url('css/type/BebasNeueBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('css/type/BebasNeueRegular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('css/type/OpenSansLight.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 15em;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'BebasNeueRegular', sans-serif; 
    font-size: 8em;
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 5em;
    text-align: center;
    margin: 0;
    padding: 0;
}
h4 {
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 2em;
    text-align: left;
    margin: 0;
    padding: 0;
}

#nav {
    width: 100vw;
    background-color: #2A2A2A;
    padding: 15px 10px 5px 10px;
}

#nav ul {
    list-style: none; 
}

#nav li {
    font-family: 'BebasNeueRegular', sans-serif;   
    font-size: 2.5em;
    display: inline-block;
    padding-right: 50px;
}

#nav #logo {
    float: left;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 3em;
    padding-right: 20vw;
}

#nav a {
    text-decoration: none;
    color: #fff;
    display: block; 
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 60%;
}

#header {
    position: absolute;
    bottom: 0;
}

.slide {
    height: 100vh;   
}

#Landing-Page {
    background-color: #F4C2C2;
}

#Landing-Page .content {
    padding: 200px 0 260px 0;
    color: white;
}

#Why-Use-Ultiva {
    background-image: url("../img/background_1.jpg");
    background-size: cover; 
}

#Why-Use-Ultiva .content {
    color: white;
    text-align: left;
    padding-top: 18%;
}

#Why-Use-Ultiva .content h3 {
    text-align: left;
    background-color: rgba(128, 128, 128, 0.6);
    padding: 120px 80px 120px 80px;
}

#Rapid-On, #Rapid-Off {
    background-color: #2A2A2A;
}

#Rapid-On .content, #Rapid-Off .content, #Rapid-Response .content{
    color: white;
    padding-top: 20%;
}   

#Rapid-Response {
    background-image: url("../img/background_2.jpg");   
    background-size: cover;
}

#Rapid-Response .content h4{
    background-color: rgba(128, 128, 128, 0.6);
    padding-left: 80px;
    padding-right: 80px;
}

#Rapid-Response .content h3 {
    background-color: rgba(128, 128, 128, 0.6);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
}
#Rapid-Response .content p {
    background-color: rgba(128, 128, 128, 0.6);
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}

#Rapid-Recovery {
    background-image: url("../img/background_3.jpg");
    background-size: cover;
    
}






